.sva-img:hover{
    transform: scale(1.2);
}
.zoomer{
    overflow:hidden;
}
.sva-img{
    transition: transform 1s;
}
.card{
    width:18rem
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    iframe{
        width:270px;
        height:180px;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    iframe{
        width:470px;
        height:280px;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    iframe{
        width:670px;
        height:380px;
    }
}


@media only screen and (max-width: 600px) {
    .card{
        width:14rem;
    }
}

